<ion-view view-title="KiLo" >
   <ion-header-bar class="bar bar-subheader" ng-style="data.barCSS"  >        
        <div class="row padding-zero" style="border-width : 1px; border-color : lightgray; border-style : solid;">
            <div class="col col-40 padding-zero main-col" ng-click="changeRoute()" >
                <div class="row padding-zero">
                    <div class="col font-small sub-header-col">
                        <b>Route</b>                     
                    </div>
                </div>
                <div class="row padding-zero" style="z-index : -1">
                    <div class="col col-85 font-small sub-header-col">
                        {{data.selectedRoute.name}}
                    </div>
                    <div class="col col-15 sub-header-col">
                        <span class="caret"></span>                    
                    </div>
                </div>
            </div>
             <div class="col col-30 padding-zero main-col" ng-click="changeType()" >
                <div class="row padding-zero">
                    <div class="col font-small sub-header-col">
                        <b>Type</b>                        
                    </div>
                </div>
                <div class="row padding-zero">
                    <div class="col col-80 font-small sub-header-col">
                        {{data.selectedRouteTypeDesc}}                   
                    </div>
                    <div class="col col-20 sub-header-col">
                        <span class="caret"></span>                    
                    </div>
                </div>
            </div>
             <div class="col col-30 padding-zero main-col" ng-click="changeDate()" >
                <div class="row padding-zero">
                    <div class="col font-small sub-header-col">
                        <b>Date</b>                        
                    </div>
                </div>
                <div class="row padding-zero">
                    <div class="col col-80 font-small sub-header-col">
                        {{data.selectedDate}}                      
                    </div>
                    <div class="col col-20 sub-header-col">
                        <span class="caret"></span>                    
                    </div>
                </div>
            </div>
        </div>  
    </ion-header-bar>
    <ion-content scroll="true" ng-style="data.contentCSS">
        <div class="card " collection-repeat="d in data.posts" ng-click="selectPost(d)" >
           <div class="row">
               <div class="col col-block">
                    <div class="row" >
                        <div class="col">Date : {{d.date}}</div> <div class="col">{{d.user}}</div>
                    </div>
                    <div class="row">
                        <div class="col">Available Kilo : {{d.kilo}} kg</div> <div class="col"> Price : {{d.price}}</div>
                    </div>       
               </div>
           </div>            
        </div>
    </ion-content>       
</ion-view>